spring:
  application:
    name: cards
  datasource:
    url: jdbc:h2:mem:testdb
    driverClassName: org.h2.Driver
    username: dev
    password: '123'
  h2:
    console:
      enabled: true
  jpa:
    database-platform: org.hibernate.dialect.H2Dialect
    hibernate:
      ddl-auto: update
    show-sql: true
  config:
    import:
      - "application-properties-dev.yaml"
      - "application-properties-test.yaml"
      - "application-properties-prod.yaml"
  profiles:
    active:
      - "prod"

server:
  port: 8081